<div class="row addcomment-page">
    <h2>Add Comment</h2>
    <form class="addcomment-form">
        <p>Content</p>
        <textarea rows="4" cols="40" id="content"></textarea>
        <br>
        <div>
            <p><button class="btn btn-secondary" id="addcomment" data-id="{{post.id}}">Add</button></p>
        </div>
    </form>
</div>

<script src="/js/addcomment.js"></script>