<div class="row createpost-page">
    <h2>Create Post</h2>
    <form class="form createpost-form">
        <p>Title</p>
        <textarea rows="4" cols="40" id="title"></textarea>
        <br>

        <p>Content</p>
        <textarea rows="4" cols="40" id="content"></textarea>
        <br>
        <div>
            <button class="btn btn-secondary" type="submit">Create</button>
        </div>
    </form>
</div>

<script src="./js/createpost.js"></script>