<h1>Your Posts</h1>

{{#each posts as |post|}}

{{> post-details}}

{{/each}}

{{!-- {{#if posts.length}}

{{#each posts as |post|}}

{{> post-details}}

{{/each}}

{{else}}

{{> post-details post}}

{{/if}} --}}

