<div class="row signup-page">
    <h2>Sign Up</h2>

    <form class="form signup-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input required="required" class="form-input" type="text" id="username" />
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password: </label>
            <input required="required" class="form-input" type="password" id="password" />
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-secondary" type="submit">Sign Up</button>
        </div>
    </form>
</div>

<script src="./js/signup.js"></script>